@page "/Admin"
@using System.Diagnostics
@using Core.Models
@using Exam2024t.Services
@inject HttpClient Http
@inject IAdminService AdminService
@inject NavigationManager NavigationManager


<PageTitle>Admin</PageTitle>

<h2>Login som Admin</h2>

<EditForm Model="@adminLogin" OnValidSubmit="@HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="username">Brugernavn:</label>
        <InputText id="username" @bind-Value="adminLogin.Username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Kodeord">Password:</label>
        <InputText id="password" @bind-Value="adminLogin.Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private Core.Models.Admin adminLogin = new Core.Models.Admin();

    private async Task HandleLogin()
    {
        var result = await AdminService.LoginAdmin(adminLogin.Username, adminLogin.Password);
        if (result)
        {
            NavigationManager.NavigateTo("/AdminDashboard");
            Console.WriteLine("login succesful!");
        }
        else
        {
            Console.WriteLine("login failed");
        }
    }
}
