/* Form Styling */
.application-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto; 
}


label {
    margin-left: 15%; 
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

    .btn-submit:hover {
        background-color: #0056b3;
    }

/* Optional: Style checkboxes */
.form-group-checkbox {
    margin-bottom: 15px;
}

.checkbox-label {
    margin-left: 5px;
    color: #555;
    font-size: 16px;
}

.checkbox-input {
    margin-right: 5px;
    cursor: pointer;
}
/* tabel til */
.week-table {
    width: 100%;
    border-collapse: collapse;
}

    .week-table th, .week-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .week-table th {
        background-color: #f2f2f2;
    }

    /*alertmodaldialog*/
.alertdiv {
    text-align: center;
}

.h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .btn-container button {
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

        .btn-container button:hover {
            background-color: #0056b3;
        }

        .btn-container button:active {
            background-color: #004080;
        }


.green {
    background-color: #9edea4;
}

.yellow {
    background-color: lightyellow;
}

.red {
    background-color: lightcoral;
}
