@page "/"

<PageTitle>Hjem</PageTitle>

<h1>Velkommen til Børneklubbens tilmeldingssystem!</h1>

<!-- Her vil der være information omkring hvad du kan på siden - evt. informere forældre at de både skal tilmelde sig selv og deres børn -->
<div class="information">
    <p>Her kan du tilmelde dit barn til Børneklubben.</p>
    <p>Husk på, at du ikke automatisk tilmeldes når dit barn er timeldt til børneklubben.</p>
    <p>Tryk på billedet nedenunder for at gå direkte til applikations siden</p>
</div>

<div>
    <h2>Regler for hvem der må være i børneklubben er følgende</h2>
    <p>
        - Barnet skal være fyldt fem år og være blefri/renlig
        - Man må kun have sine egne børn med i børneklubben
        - Max to børn pr. voksen frivillig
        - Man må max have fem dage i børneklubben (en cirkusuge)
    </p>
</div>

<!-- Her kan vi indsætte et billede der viser noget relevant til siden - måske et link til tilmelding? -->
<div class="picture">
    <NavLink href="/application"><img src="cirkussummarum.jpeg" width="1000", height="550"/></NavLink>
</div>


