/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.parallax {
    background-image: url('summarumbaggrund.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}

/* Header styles */
h1 {
    color: #333;
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    margin-bottom: 200px;
}

/* Information box styling */
.information {
    margin: 20px auto;
    padding: 20px;
    width: 60%;
}

.informationbaggrund {
    background-color: papayawhip;
    border: 10px solid transparent;
    border-image: url(border.png) 25% round;
    margin-bottom: 200px;
}


/* Styling for images, centering the image */
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.picture img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.centerimage {
    width: 50%;
}

.reglerbaggrund {
    background-color: papayawhip;
    border: 10px solid transparent;
    border-image: url(border.png) 25% round;
    margin-bottom: 200px;
}

.regler {
    margin: 20px auto;
    padding: 20px;
    width: 60%;
}

.titelhjem{
    color: white;
   
}

.forventningerbaggrund {
    background-color: papayawhip;
    border: 10px solid transparent;
    border-image: url(border.png) 25% round;
}

.forventninger {
    margin: 20px auto;
    padding: 20px;
    width: 60%;
}



/*button funktionalitet*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 350px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 280px;
}

.btn {
    color: darkcyan;
    text-decoration: none;
    background-color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: calibri;
    border-radius: 3px;
    border: 2px solid deeppink;
    padding: 1rem 2rem;
    box-shadow: .9px 1px 0 0 deeppink, 1.5px 2px 0 0 deeppink, 2.5px 3px 0 0 deeppink, 3.5px 4px 0 0 deeppink, 4.5px 5px 0 0 deeppink, 5.5px 6px 0 0 deeppink, 6.5px 7px 0 0 deeppink, 7.5px 8px 0 0 deeppink, 8.5px 9px 0 0 deeppink, 9.5px 10px 0 0 deeppink;
    position: relative;
    inset: 0;
    cursor: pointer;
    transform: rotateX(0) rotateY(0) rotateZ(0);
    display: inline-block;
    outline: 2px dashed transparent;
    transition: all 600ms ease;
   
}

    .btn:hover {
        inset: 6px 0 5.5px 0;
        transform: rotateX(5deg) rotateY(3deg) rotateZ(.25deg);
        box-shadow: none;
    }
/*button funktionalitet*/

/*lightrope*/
.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    margin: -15px 0 0 0;
    z-index: 1;
    padding: 0;
    pointer-events: none;
    width: 97.2%;
}

    .lightrope li {
        position: relative;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        width: 12px;
        height: 28px;
        border-radius: 50%;
        margin: 20px;
        display: inline-block;
        background: #00f7a5;
        box-shadow: 0px 4.66667px 24px 3px #00f7a5;
        -webkit-animation-name: flash-1;
        animation-name: flash-1;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
    }

        .lightrope li:nth-child(2n+1) {
            background: cyan;
            box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
            -webkit-animation-name: flash-2;
            animation-name: flash-2;
            -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
        }

        .lightrope li:nth-child(4n+2) {
            background: #f70094;
            box-shadow: 0px 4.66667px 24px 3px #f70094;
            -webkit-animation-name: flash-3;
            animation-name: flash-3;
            -webkit-animation-duration: 1.1s;
            animation-duration: 1.1s;
        }

        .lightrope li:nth-child(odd) {
            -webkit-animation-duration: 1.8s;
            animation-duration: 1.8s;
        }

        .lightrope li:nth-child(3n+1) {
            -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
        }

        .lightrope li:before {
            content: "";
            position: absolute;
            background: #222;
            width: 10px;
            height: 9.33333px;
            border-radius: 3px;
            top: -4.66667px;
            left: 1px;
        }

        .lightrope li:after {
            content: "";
            top: -14px;
            left: 9px;
            position: absolute;
            width: 52px;
            height: 18.66667px;
            border-bottom: solid #222 2px;
            border-radius: 50%;
        }

        .lightrope li:last-child:after {
            content: none;
        }

        .lightrope li:first-child {
            margin-left: -40px;
        }

@-webkit-keyframes flash-1 {
    0%, 100% {
        background: #00f7a5;
        box-shadow: 0px 4.66667px 24px 3px #00f7a5;
    }

    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}

@keyframes flash-1 {
    0%, 100% {
        background: #00f7a5;
        box-shadow: 0px 4.66667px 24px 3px #00f7a5;
    }

    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}

@-webkit-keyframes flash-2 {
    0%, 100% {
        background: cyan;
        box-shadow: 0px 4.66667px 24px 3px cyan;
    }

    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
    }
}

@keyframes flash-2 {
    0%, 100% {
        background: cyan;
        box-shadow: 0px 4.66667px 24px 3px cyan;
    }

    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
    }
}

@-webkit-keyframes flash-3 {
    0%, 100% {
        background: #f70094;
        box-shadow: 0px 4.66667px 24px 3px #f70094;
    }

    50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
    }
}

@keyframes flash-3 {
    0%, 100% {
        background: #f70094;
        box-shadow: 0px 4.66667px 24px 3px #f70094;
    }

    50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
    }
}




html {
    margin: 0;
    padding: 0;
    background: #000000;
    background: radial-gradient(circle farthest-corner at 700px,#4169E0, #352A3B);
    background-size: cover;
}
/*lightrope*/
