@page "/"
@using Exam2024t.Layout


<head>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<PageTitle>Hjem</PageTitle>

<ul class="lightrope">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>


<h1>Velkommen til Børneklubbens tilmeldingssystem!</h1>

<!-- Her vil der være information omkring hvad du kan på siden - evt. informere forældre at de både skal tilmelde sig selv og deres børn -->
<div class="information">
    <p>Her kan du tilmelde dit barn til Børneklubben.</p>
    <p>Husk på, at du ikke automatisk tilmeldes når dit barn er timeldt til børneklubben.</p>
    <p>Tryk på knappen nedenunder for at gå direkte til applikations siden</p>
</div>
<main class="main">
    <div>
        <NavLink href="/application"> <a class="btn">Tilmeld dit barn til børneklub</a> </NavLink>
    </div>
</main>

<br />
<br />

<div class="regler">
    <h2>Regler for hvem der må være i børneklubben er følgende</h2>
    <p>- Barnet skal være fyldt fem år og være blefri/renlig</p>
    <p>- Man må kun have sine egne børn med i børneklubben</p>
    <p>- Max to børn pr. voksen frivillig</p>
    <p>- Man må max have fem dage i børneklubben (en cirkusuge)</p>
</div>


<div class="forventninger">
    <h2>Hvad kan du forvente </h2>
    <p>- Du bliver en del af en skøn og hyggelig cirkus familie og det bliver dine børn også,
        hvor der er masser af leg og hyggeligt samvær.
    </p>
    <p>- Du er sammen med dine børn om morgenen inden din vagt starter og igen når du
        har fri om aftenen – ligesom i det offentlige
    </p>
    <p>- Mødetiderne er som udgangspunkt: onsdage, torsdage og fredage kl. 07:30/11:30
       – 18:30. Lørdage og søndage kl. 7:30 – 18:30
    </p>
    <p>- Vi gør derfor opmærksom på, at nogle af dagene er nogle lange arbejdsdage og det kan
        være lange dage og mange timer væk fra forældre.
    </p>
</div>








