@page "/Signature"

<PageTitle>Signature</PageTitle>

<h1>Signatur underskrivning</h1>

<p>Du kan i boksen nedenunder skrive din signatur for at færdiggøre din applikation.</p>

<SignaturePad @bind-Value="Core.Models.Signature.Sign" style="width: 100%" />

@code {

}
