body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle farthest-corner at 700px, #4169E0, #352A3B);
    background-size: cover;
}

table {
    width: 100%;
}

.parallax {
    background-image: url('summarumbaggrund.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.emptybox {
    height: 200px;
}

.signature {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.infotext {
    font-size: 15px; /* Increased font size for better readability */
    color: #333; /* Dark color for better visibility */
}
.tableitem_background {
    background-color: papayawhip;
    border: 10px solid transparent;
    border-image: url(border.png) 25% round;
    margin-bottom: 20px;
}

h3 {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn {
    color: darkcyan;
    text-decoration: none;
    background-color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: calibri;
    border-radius: 3px;
    border: 2px solid orange;
    padding: 1rem 2rem;
    box-shadow: .9px 1px 0 0 orange, 1.5px 2px 0 0 orange, 2.5px 3px 0 0 orange, 3.5px 4px 0 0 orange, 4.5px 5px 0 0 orange, 5.5px 6px 0 0 orange, 6.5px 7px 0 0 orange, 7.5px 8px 0 0 orange, 8.5px 9px 0 0 orange, 9.5px 10px 0 0 orange;
    inset: 0;
    cursor: pointer;
    transition: all 600ms ease;
    display: inline-block;
}

.signupbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


