body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle farthest-corner at 700px, #4169E0, #352A3B);
    background-size: cover;
}
.signature {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.infotext {
    font-size: 15px; /* Increased font size for better readability */
    color: #333; /* Dark color for better visibility */
}
.table {
    width: 100%; /* Full-width table */
    font-size: 12px; /* Smaller font size for table */
}

table td {
    border-top: 1px solid #eee;
    padding: 8px; /* Compact padding */
}
td > p {
    margin: 2px 0; /* Reduce margin between paragraphs within cells */
    padding-left: 10px; /* Further indentation inside table cells */
}

h1 {
    color: #333;
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    margin-bottom: 50px;
}

h3 {
    color: #666;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn {
    color: darkcyan;
    text-decoration: none;
    background-color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: calibri;
    border-radius: 3px;
    border: 2px solid deeppink;
    padding: 1rem 2rem;
    box-shadow: .9px 1px 0 0 deeppink, 1.5px 2px 0 0 deeppink, 2.5px 3px 0 0 deeppink, 3.5px 4px 0 0 deeppink, 4.5px 5px 0 0 deeppink, 5.5px 6px 0 0 deeppink, 6.5px 7px 0 0 deeppink, 7.5px 8px 0 0 deeppink, 8.5px 9px 0 0 deeppink, 9.5px 10px 0 0 deeppink;
    position: relative;
    inset: 0;
    cursor: pointer;
    transition: all 600ms ease;
    display: inline-block;
}


