<div class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Eksamen2024</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav-container">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="Application">
                Tilmelding
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="Signature">
                Underskrift siden
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="Admin">
                Administrator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Police">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Politikker
            </NavLink>
        </div>
    </nav>
</div>
