@page "/AcceptabelBrug"

<!-- Link til CSS-fil -->
<link href="css/politikker.css" rel="stylesheet" />

<h2> Politik for acceptabel brug </h2>
<h5>Senest opdateret november 2023</h5>

<br />


<div class="UlovligtBrug">
    <h3> Ulovligt brug </h3>
    <p>
        Brug hjemmesiden kun til lovlige formål og undgå aktiviteter, der overtræder lovgivningen eller skader mindreårige.
        Forbyder også spam og upassende materiale.<br /><br />
    </p>
</div>


<div class="InteraktiveTjenester">
    <h3> Interaktive tjenester </h3>
    <p>
        Tilbyder chatrum, opslagstavler og konkurrencer med klar information om moderation. Vi evaluerer risici for brugerne
        og forbeholder os ret til moderation. Vi påtager os ikke ansvar for brug af tjenester i strid med indholdstandarder.<br /><br />
    </p>
</div>


<div class="StandarderForIndhold">
    <h3> Standarder for indhold </h3>
    <p>
        Bidrag skal være nøjagtige, lovlige og ikke stødende. Forbyder injurierende eller ulovligt materiale samt fremme af
        vold eller diskrimination.<br /><br />
    </p>
</div>


<div class="OpsigelseOphævelse">
    <h3> Opsigelse og ophævelse </h3>
    <p>
        Ved brud på vilkår kan vi inddrage rettigheder, fjerne indhold og iværksætte retlige skridt.<br /><br />
    </p>
</div>



<div class="ÆndingerAcceptabelBrug">
    <h3>
        Ændringer af vilkår for acceptabel brug
    </h3>
    <p>
        Vi kan ændre vilkår uden forudgående varsel. Det forventes, at brugere jævnligt besøger siden for opdateringer.<br /><br />
    </p>
</div>