@page "/Nyhedsbrev"

<!-- Link til CSS-fil -->
<link href="css/politikker.css" rel="stylesheet" />

<h2> Samtykkeerklæring ved tilmelding til nyhedsbrev </h2>

<br />

<!-- Brødtekst -->
<p>
    Ved at tilmelde dig vores nyhedsbrev accepterer du, at vi gemmer visse oplysninger, herunder navn, e-mailadresse og adresse,
    for at give dig den bedste Cirkus Summarum oplevelse. Disse oplysninger bruges af Handshake til at informere dig om aktiviteter
    og tilbud fra Muskelsvindfonden via e-mail.<br />
    Du vil kun blive kontaktet direkte af Handshake, som er en del af Muskelsvindfonden, og dine data deles kun internt i organisationen.<br />
    Din e-mailadresse videregives til vores nyhedsbrevsleverandør, som kan tilpasse indholdet og måle effekten af nyhedsbrevet.
    Du kan til enhver tid afmelde dig nyhedsbrevet via et link i mailen. Ved at acceptere
    dette samtykker du til, at Muskelsvindfonden kan kontakte dig via e-mail med markedsføring.
</p>

