@page "/police"
    <!-- Link til CSS-fil -->
    <link href="css/politikker.css" rel="stylesheet" />

    <h3 style="font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: 30px; ">Politikker</h3>

    <br />
  
    <div class="link-box">
        <a href="/Privatlivspolitik" class="link">Privatlivspolitik</a>
    </div>
    <div class="link-box">
        <a href="/VilkårBetingelser" class="link">Vilkår og betingelser</a>
    </div>
    <div class="link-box">
        <a href="/AcceptabelBrug" class="link">Politik for acceptabel brug</a>
    </div>
    <div class="link-box">
        <a href="/ReglerSocialeMedier" class="link">Regler for sociale medier</a>
    </div>
    <div class="link-box">
        <a href="/Nyhedsbrev" class="link">Samtykkeerklæring ved tilmelding til nyhedsbrev</a>
    </div>


