@page "/Privatlivspolitik"

<!-- Link til CSS-fil -->
<link href="css/politikker.css" rel="stylesheet" />

<h2>Privatlivspolitik</h2>
<h5>Senest opdateret december 2023</h5>

<br />

<!-- Punkt 1 -->
<div class="Kontaktinfo">
    <h3>1. Dataansvarlig og kontaktinformationer</h3>
    <p>
        Dataansvarlig for behandling af dine personoplysninger er:
        <br />
        Handshake Erhvervsdrivende Fond<br />
        Kongsvang Allé 23<br />
        8000 Århus<br />
        CVR-nr. 26 71 62 92<br />
        Hvis du har spørgsmål til behandlingen af dine personoplysninger, kan du kontakte os på e-mail: cirkus@muskelsvindfonden.dk
        <br /><br />
    </p>

</div>

<!-- Punkt 2 -->
<div class="Personoplysninger">
    <h3>2. Behandlingen af personoplysninger</h3>

    <h4>Køb af billetter eller et andet produkt fra Cirkus Summarum</h4>
    <p>
        Ved køb eller modtagelse af et produkt eller tjenester fra Cirkus Summarum, bliver der indsamlet personoplysninger for at
        sikre at din købsoplevelse er så god som muligt. Disse oplysninger bruges til at gennemføre transaktionen og tilbyde vores
        services.Derudover anvender vi også dine oplysninger til at svare på spørgsmål, håndtere reklamationer og indhente feedback.
        Ved køb af billetter og andre produkter indsamles almindelige personoplysninger. Hvis du tidligere har handlet på vores
        hjemmeside, kan vi også bruge oplysninger fra tidligere transaktioner, såsom leveringsadresser og tidligere køb, til at
        lette din oplevelse. Formålet med denne behandling er at bekræfte ordrer, levere varer og tjenester, håndtere betalinger,
        yde kundeservice og eventuelt give kreditering <br /><br />
    </p>

    <h4>Deltagelse i arrangementer</h4>
    <p>
        Hvis du deltager i et arrangement, kan det ske, at vi indsamler dine personoplysninger. Dette kan være nødvendigt for at
        imødekomme særlige behov såsom kost eller hjælp til transport.<br /><br />
    </p>

    <h4>Deltagelse i  kampagner, konkurrencer eller markedsundersøgelser</h4>
    <p>
        Når du deltager i vores kampagner, konkurrencer eller markedsundersøgelser, indsamler vi dine personoplysninger med det
        formål at forbedre vores produkter og brugeroplevelser samt at tilbyde mere relevante tilbud til dig. Vi indhenter disse
        oplysninger i forbindelse med kampagner,konkurrencer og markedsundersøgelser og kan også bruge dine fotos og historier til
        at forbedre vores produkter og til markedsføring, såfremt du sender dem direkte til os eller via vores sociale medier <br />
    </p>

    <h4> Alarm og overvågningssystemer </h4>
    <p>
        Cirkus Summarum implementerer alarm- og overvågningssystemer på cirkuspladsen og forbeholder sig retten til at behandle
        billeder fra eventuel TV-overvågning af Cirkus Summarums områder. <br /><br />
    </p>

    <h4>Medvirkelse i artikler</h4>
    <p>
        Vi anvender historier fra personer, der ønsker at dele deres erfaringer, til Cirkus Summarums og Muskelsvindfondens arbejde.
        Vi indhenter altid udtrykkeligt samtykke, før vi deler personoplysninger - både almindelige og følsomme - i forbindelse med
        deltagelse i artikler eller lignende via Cirkus Summarum/Muskelsvindfonden. <br /><br />
    </p>

    <h4>Brug af hjemmeside</h4>
    <p>
        Når du anvender vores hjemmeside, indsamler vi oplysninger om din adfærd, hvis du accepterer brugen af cookies. Dette sker
        gennem såkaldte "cookies" og andre tekniske løsninger, der styrer logins og indsamler webstatistikker samt bruges til
        markedsføringsformål. Du kan læse vores cookiepolitik for mere information. <br /><br />
    </p>
</div>

<!-- Punkt 3 -->
<div class="Retsgrundlag">
    <h3> 3. Retsgrundlaget for at behandle dine personoplysninger </h3>
    <p>
        Vi behandler dine personoplysninger baseret på forskellige retsgrundlag, afhængigt af oplysningens art og konteksten, hvor
        du har givet dem til os.Normalt behandler vi dine almindelige personoplysninger for at opfylde vores aftale med dig, f.eks.
        når du køber et produkt, deltager i vores arrangementer,kampagner eller frivilligt arbejde. Hvis du giver personoplysninger
        til medhjælpere på cirkuspladsen, kan retsgrundlaget være vores aftale med dig, vores legitime interesser eller dit samtykke.
        Hvis du har givet samtykke til markedsføring eller nyhedsbreve, er retsgrundlaget dit samtykke, som altid kan tilbagekaldes.
        Behandlingen af personoplysninger i forbindelse med alarm- og overvågningssystemer baseres på vores legitime interesser,
        medmindre de viser strafbare forhold, hvor retsgrundlaget ændres. Vi behandler også dine personoplysninger for at overholde
        retlige forpligtelser, f.eks. bogføringsloven, eller når vi har en legitim interesse i behandlingen, medmindre dine rettigheder
        til beskyttelse af dine oplysninger går forud.
        <br /><br />
        I tilfælde af helbredsoplysninger er dit udtrykkelige samtykke altid nødvendigt. <br /><br />
    </p>
</div>

<!-- Punkt 4 -->
<div class="VideregivelsePersonoplysninger">
    <h3> 4. Videregivelse af dine personoplysninger</h3>
    <p>
        Vi deler kun dine oplysninger i overensstemmelse med loven og vores aftaler, herunder med leverandører og samarbejdspartnere.
        Vi opbevarer dine oplysninger sikkert og i overensstemmelse med gældende regler. <br /><br />
    </p>
</div>

<!-- Punkt 5 -->
<div class="OpbevaringSletning">
    <h3> 5. Opbevaring og sletning af dine personoplysninger </h3>
    <p>Vi opbevarer dine oplysninger kun så længe, det er nødvendigt for at opfylde det formål, de blev indsamlet til. Derudover følger
       vi reglerne for sletning og opbevaring i henhold til lovgivningen. <br /><br />
    </p>
</div>

<!--Punkt 6 -->
<div class="Datasikkerhed">
    <h3> 6. Datasikkerhed </h3>
    <p> Vi tager sikkerheden af dine personoplysninger alvorligt og har interne regler og procedurer for at sikre, at de behandles
        sikkert. Kun autoriserede medarbejdere har adgang til følsomme oplysninger, og vi sikrer os, at vores databehandlere opfylder
        høje sikkerhedsstandarder. <br /><br />
    </p>
</div>

<!-- Punkt 7 -->
<div class="BrugAfBilleder">
    <h3> 7. Cirkus Summarums brug af billeder </h3>
    <p> Vi bruger billeder fra vores arrangementer til dokumentation og formidling af vores arbejde. Hvis du ikke ønsker, at et
        billede af dig offentliggøres,kan du kontakte os, og vi vil slette det. <br /><br />
    </p>
</div>

<!-- Punkt 8 -->
<div class="Ai">
    <h3> 8. Cirkus Summarums brug af AI værktøjer </h3>
    <p>
        Vores chatbot-interface er designet til at beskytte dine data ved at anonymisere dine forespørgsler og opbevare dem sikkert
        på din enhed. Vi bruger ikke dine interaktioner til at forbedre modellen uden dit samtykke. <br /><br />
    </p>
</div>

<!-- Punkt 9 -->
<div class="Rettigheder">
    <h3> 9. Dine rettigheder </h3>
    <p> Du har ret til indsigt, korrektion og sletning af dine oplysninger samt til at begrænse og flytte dem. Hvis du ønsker at
        trække dit samtykke tilbage eller har spørgsmål, er du velkommen til at kontakte os. <br /><br />
    </p> 
</div> 

<!-- Punkt 10 -->
<div class="Klage">
    <h3> 10. Klage til tilsynsmyndighed </h3>
    <p>
        Hvis du er utilfreds med vores behandling af dine oplysninger, opfordrer vi dig til at kontakte os direkte. Hvis du stadig
        har bekymringer, kan du klage til Datatilsynet. <br /> <br />

        Datatilsynet <br />
        Carl Jacobsens Vej 35 <br />
        2599 Valby <br />
        Telefon 33 19 32 00 <br />
        dt@datatilsynet.dk
    </p>
</div>

