@page "/ReglerSocialeMedier"

<!-- Link til CSS-fil -->
<link href="css/politikker.css" rel="stylesheet" />

<h2> Regler for sociale medier </h2>
<h5>Senest opdateret november 2023</h5>

<br />

<!-- Brødtekst -->
<p>
    Vi opfordrer til feedback og diskussion, men forbeholder os retten til at fjerne upassende indhold. Undgå uanstændigt sprog
    og respekter andres privatliv. Hold dig til Cirkus Summarum-emner og undgå spam.<br />

    Vi fjerner usømmeligt materiale og har ingen kontrol over tredjepartsannoncer. Links deles kun til information; vi påtager
    os intet ansvar for eksterne sider.<br />

    Se de individuelle sociale mediers regler for yderligere retningslinjer. Vi respekterer privatlivets fred og beskytter dine
    personoplysninger.
</p>

<p>
    <strong>Kontakt os på:</strong><br />
    Info@muskelsvindfonden.dk <br />
    Tlf. 89482222
</p>
