@page "/VilkårBetingelser"

<!-- Link til CSS-fil -->
<link href="css/politikker.css" rel="stylesheet" />


<h2> Vilkår og betingelser </h2>
<h5>Senest opdateret november 2023</h5>

<br />

<div class="AndreVilkårBetingelser">
    <h3>
        Andre relevante vilkår og betingelser
    </h3>
    <p>
        Når du bruger vores hjemmeside, skal du også være opmærksom på vores privatlivspolitik og politik for acceptabel brug.
        Disse dokumenter supplerer de vilkår og betingelser, du accepterer ved at bruge vores hjemmeside. <br /><br />
    </p>
</div>


<div class="ÆndringerOpdateringer">
    <h3> Ændringer og opdateringer </h3>
    <p>
        Vi forbeholder os retten til at ændre vilkår og betingelser uden varsel. Det er dit ansvar at holde dig opdateret med
        eventuelle ændringer, da de vil være bindende for dig. <br /><br />
    </p>
</div>


<div class="BesøgHjemmeside">
    <h3> Besøg på hjemmesiden </h3>
    <p>
        Du kan gratis besøge vores hjemmeside, men vi kan ikke garantere, at den altid er tilgængelig uden afbrydelser eller fejl.
        Vi forbeholder os retten til at ændre eller suspendere dele af hjemmesiden uden varsel. Det er dit ansvar at sikre, at du
        har passende sikkerhedsforanstaltninger mod skadeligt indhold. Vores hjemmeside er primært forbeholdt personer i Danmark,
        og vi kan begrænse adgangen til visse områder. Enhver form for misbrug af hjemmesiden er forbudt og kan medføre begrænset
        adgang.<br /><br />
    </p>
</div>


<div class="Registrering">
    <h3> Registrering </h3>
    <p>
        Når du bliver bedt om at udfylde en registreringsblanket eller give andre oplysninger, skal du sikre, at de er sande, korrekte
        og fuldstændige. Det er vigtigt, at du straks informerer os om eventuelle ændringer i dine oplysninger. <br />

        Hvis du får tildelt en brugeridentifikationskode, adgangskode eller andre sikkerhedsoplysninger, skal du behandle dem fortroligt
        og ikke dele dem med andre. Vi forbeholder os retten til at deaktivere sådanne oplysninger, hvis vi finder det nødvendigt,
        uanset om du selv valgte dem, eller de blev udleveret af os, hvis vores vilkår og betingelser ikke overholdes.<br /><br />
    </p>
</div>


<div class="ImmaterielleRettigheder">
    <h3> Immaterielle rettigheder </h3>
    <p>
        Alt indhold på vores hjemmeside er beskyttet af immaterielle rettigheder. Du må kun bruge indholdet til personlig brug,
        medmindre du har vores tilladelse til andet.<br /><br />
    </p>
</div>


<div class="KorrekteOplysninger">
    <h3> Korrekte oplysninger </h3>
    <p>
        Vi stræber efter at give korrekte oplysninger på vores hjemmeside, men vi kan ikke garantere, at alt indhold er fejlfrit.
        Vi opfordrer dig til at kontakte os, hvis du finder unøjagtigheder.<br /><br />
    </p>
</div>


<div class="Anmeldelser">
    <h3> Anmeldelser </h3>
    <p>
        Anmeldelser og udtalelser på vores hjemmeside er forfatternes egne og repræsenterer ikke nødvendigvis vores synspunkter.
        Vi påtager os intet ansvar for indholdet af disse anmeldelser.<br /><br />
    </p>
</div>


<div class="Konkurrencer">
    <h3> Konkurrencer </h3>
    <p>
        Eventuelle konkurrencer på vores hjemmeside er underlagt specifikke vilkår og betingelser, som du bør læse grundigt, før
        du deltager.<br /><br />
    </p>
</div>


<div class="WebsideSome">
    <h3> Link til andre websider og sociale medier </h3>
    <p>
        Vi har ingen kontrol over indholdet på tredjepartswebsteder, medmindre andet er angivet, og vi påtager os ikke ansvaret for
        deres indhold eller de produkter/tjenester, de tilbyder. Når du forlader vores hjemmeside via disse links, er vi ikke ansvarlige
        for eventuelle problemer, der måtte opstå, herunder tredjeparters brug af dine oplysninger. Vi forbeholder os ret til at
        forbyde links fra andre sider til vores hjemmeside efter eget skøn. <br /><br />
    </p>
</div>


<div class="VoresAnsvar">
    <h3> Vores ansvar </h3>
    <p>
        Vi fraskriver os ethvert ansvar vedrørende hjemmesiden, i det omfang tilladt ved lov. Vi kan ikke holdes ansvarlige for tab
        eller skade som følge af brugen af hjemmesiden eller det viste indhold. Vores ansvar er begrænset til rimeligt forudsigelige
        tab. For forbrugere dækker vores ansvar ikke tabt fortjeneste eller forretningsafbrydelser, kun forudsigelige tab.
        For forretningsbrugere fraskriver vi os erstatningsansvar for tab af fortjeneste, salg, eller følgeskader.
        Vi påtager os ikke ansvar for skade forårsaget af virus eller andet skadeligt materiale ved brug af hjemmesiden.Vi godkender
        ikke links til andre sider og påtager os ikke ansvar for tab eller skade derved. Vores ansvar er underlagt vores
        handelsbetingelser og begrænses ikke af loven. <br /><br />
    </p>
</div>


<div class="UploadingTilHjemmeside">
    <h3>Uploading af indhold til Hjemmesiden</h3>
    <p>
        Hvis du uploader indhold til vores hjemmeside, giver du os tilladelse til at bruge dette indhold i overensstemmelse med
        vores vilkår og betingelser.<br /><br />
    </p>
</div>


<div class="RettighederDuGiver">
    <h3> Rettigheder du giver </h3>
    <p>
        Når du uploader indhold, giver du os ret til at bruge det på vores hjemmeside og andre steder.<br /><br />
    </p>
</div>


<div class="Tilgængelighed">
    <h3> Tilgængelighed </h3>
    <p>
        Vi bestræber os på at sikre tilgængelighed og brugervenlighed på vores hjemmeside. Hvis du oplever problemer eller har
        forslag til forbedringer, er du velkommen til at kontakte os.<br /><br />
    </p>
</div>


<div class="KontaktOs">
    <h3> Kontakt os </h3>
    <p>
        Har du spørgsmål eller bekymringer vedrørende vores vilkår og betingelser, er du velkommen til at kontakte os direkte: <br /><br />
        info@muskelsvindfonden.dk <br />
        +45 89242222
    </p>
</div>